/* Container */

.container {
  @include container-padding;
  @include center-margin;
  width: 100%;
  max-width: $container-max-width;
}

/* Text  */

.uppercase {
  text-transform: uppercase;
}
 
/* Layout */

.spacer {
  height: 2rem;
  width: 100%;
  @include breakpoint-up(xl) {
    height: 3rem;
  }
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 4px;
}

.relative {
  position: relative;
}