/* Container */

.container {
  @include container-padding;
  @include center-margin;
  width: 100%;
  max-width: $container-max-width;
}

/* Text  */

.uppercase {
  text-transform: uppercase;
}

.small-print {
  font-size: 11px;
  line-height: 14px;
}

/* Seperating content */

.spacer {
  display: block;
  height: 1px;
  &.spacer-s {
    margin: 20px 0;
  }
  &.spacer-m {
    margin: 30px 0;
  }
  &.spacer-l {
    margin: 40px 0;
  }
}

.divider {
  display: block;
  margin: 0;
  padding: 0;
  &.divider-s {
    margin-top: 20px;
    padding-bottom: 20px;
  }
  &.divider-m {
    margin-top: 30px;
    padding-bottom: 30px;
  }
  &.divider-l {
    margin-top: 40px;
    padding-bottom: 40px;
  }
}

/* Image square ratio */

.image-square-wrap {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  height: 0;
  padding-top: 100%;
  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
    object-position: bottom;
  }
}
