/**
 * Basic typography style for copy text
 */

h1,
body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.25rem;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
